            <div class="cal-day-box"> 
				<div class="cal-day-panel clearfix">
					<div name="calendarHourList">
						<div class="cal-day-panel-hour">
							<div class="cal-day-hour">
								<div class="cal-day-hour-part" data-value="8:00"><div class="cal-day-hour-part-time"><strong>8AM</strong></div></div>
								<div class="cal-day-hour-part" data-value="8:30"><div class="cal-day-hour-part-time"><strong>8AM</strong></div></div>

								<div class="cal-day-hour-part" data-value="9:00"><div class="cal-day-hour-part-time"><strong>9AM</strong></div></div>
								<div class="cal-day-hour-part" data-value="9:30"><div class="cal-day-hour-part-time"><strong>9AM</strong></div></div>

								<div class="cal-day-hour-part" data-value="10:00"><div class="cal-day-hour-part-time"><strong>10AM</strong></div></div>
								<div class="cal-day-hour-part" data-value="10:30"><div class="cal-day-hour-part-time"><strong>10AM</strong></div></div>

								<div class="cal-day-hour-part" data-value="11:00"><div class="cal-day-hour-part-time"><strong>11AM</strong></div></div>
								<div class="cal-day-hour-part" data-value="11:30"><div class="cal-day-hour-part-time"><strong>11AM</strong></div></div>

								<div class="cal-day-hour-part" data-value="12:00"><div class="cal-day-hour-part-time"><strong>12PM</strong></div></div>
								<div class="cal-day-hour-part" data-value="12:30"><div class="cal-day-hour-part-time"><strong>12PM</strong></div></div>

								<div class="cal-day-hour-part" data-value="13:00"><div class="cal-day-hour-part-time"><strong>1PM</strong></div></div>
								<div class="cal-day-hour-part" data-value="13:30"><div class="cal-day-hour-part-time"><strong>1PM</strong></div></div>

								<div class="cal-day-hour-part" data-value="14:00"><div class="cal-day-hour-part-time"><strong>2PM</strong></div></div>
								<div class="cal-day-hour-part" data-value="14:30"><div class="cal-day-hour-part-time"><strong>2PM</strong></div></div>

								<div class="cal-day-hour-part" data-value="15:00"><div class="cal-day-hour-part-time"><strong>3PM</strong></div></div>
								<div class="cal-day-hour-part" data-value="15:30"><div class="cal-day-hour-part-time"><strong>3PM</strong></div></div>

								<div class="cal-day-hour-part" data-value="16:00"><div class="cal-day-hour-part-time"><strong>4PM</strong></div></div>
								<div class="cal-day-hour-part" data-value="16:30"><div class="cal-day-hour-part-time"><strong>4PM</strong></div></div>

								<div class="cal-day-hour-part" data-value="17:00"><div class="cal-day-hour-part-time"><strong>5PM</strong></div></div>
							</div>
						</div>